/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/lib/impress.scss */
.fallback-message {
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
/* line 17, ../sass/lib/impress.scss */
.fallback-message p {
  margin-bottom: 10px;
}

/* line 21, ../sass/lib/impress.scss */
.hint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: 0.5s 1s;
  -moz-transform: 0.5s 1s;
  -ms-transform: 0.5s 1s;
  -o-transform: 0.5s 1s;
  transform: 0.5s 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  background: rgba(0, 0, 0, 0.5);
  bottom: 200px;
  color: #EEE;
  display: none;
  font-size: 3em;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 100;
}

/* line 39, ../sass/lib/impress.scss */
.impress-enabled {
  pointer-events: none;
}
/* line 41, ../sass/lib/impress.scss */
.impress-enabled #impress {
  pointer-events: auto;
}
/* line 44, ../sass/lib/impress.scss */
.impress-enabled .hint {
  display: block;
}
/* line 47, ../sass/lib/impress.scss */
.impress-enabled .step {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  margin: 0;
}
/* line 51, ../sass/lib/impress.scss */
.impress-enabled .step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 57, ../sass/lib/impress.scss */
.impress-on-bored .hint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: 0.5s 4.5s;
  -moz-transform: 0.5s 4.5s;
  -ms-transform: 0.5s 4.5s;
  -o-transform: 0.5s 4.5s;
  transform: 0.5s 4.5s;
  -webkit-transition: opacity 1s;
  -webkit-transition-delay: 5s;
  -moz-transition: opacity 1s 5s;
  -o-transition: opacity 1s 5s;
  transition: opacity 1s 5s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 65, ../sass/lib/impress.scss */
.impress-on-overview .step {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  cursor: pointer;
}

/* line 70, ../sass/lib/impress.scss */
.impress-supported .fallback-message {
  display: none;
}

/* line 73, ../sass/lib/impress.scss */
.step {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 2rem;
  position: relative;
}

/* line 79, ../sass/lib/impress.scss */
.slide {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #666666;
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 3rem;
  height: 43.75rem;
  line-height: 1.25em;
  padding: 2rem 3rem;
  width: 56.25rem;
}
/* line 93, ../sass/lib/impress.scss */
.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;
  margin-top: 100px;
}
/* line 98, ../sass/lib/impress.scss */
.slide q strong {
  white-space: nowrap;
}

/* line 1, ../sass/patterns.scss */
a {
  color: #669900;
  text-decoration: none;
}
/* line 4, ../sass/patterns.scss */
a:hover {
  text-decoration: underline;
}

/* line 9, ../sass/patterns.scss */
b,
strong {
  font-weight: bold;
}

/* line 12, ../sass/patterns.scss */
body {
  background-color: #33342d;
  color: #eeeeee;
}

/* line 16, ../sass/patterns.scss */
code {
  font-family: monospace;
  font-size: 0.7em;
  white-space: pre;
}

/* line 22, ../sass/patterns.scss */
i,
em {
  font-style: italic;
}

/* line 26, ../sass/patterns.scss */
ol,
ul {
  margin-top: 0.5em;
}

/* line 29, ../sass/patterns.scss */
ol {
  margin-left: 1.45em;
}
/* line 31, ../sass/patterns.scss */
ol li {
  list-style-type: decimal;
}

/* line 35, ../sass/patterns.scss */
small {
  font-size: 0.5em;
}

/* line 38, ../sass/patterns.scss */
ul {
  margin-left: 0.8em;
}
/* line 40, ../sass/patterns.scss */
ul li {
  list-style-type: square;
}

/* line 44, ../sass/patterns.scss */
.code {
  font-family: monospace;
  font-size: 5em;
  white-space: nowrap;
}

/* line 49, ../sass/patterns.scss */
.slide {
  background-color: #46483e;
  color: #eeeeee;
}

/* line 3, ../sass/unique.scss */
#apis,
#examples,
#syntax {
  font-family: monospace;
  font-size: 10em;
  text-transform: uppercase;
  white-space: nowrap;
}
